html{
   scroll-behavior: smooth
}
body{
   width: 100%;
   min-height: 100%;
   margin: 0;
   padding: 0;
   font-family: arial, "Lucida Grande", Tahoma, Sans-Serif;
   color: #000000;
   background-color: black;
   font-size: 16px;
}
h1{
   max-width: 1000px;
   margin: 0;
   padding: 0;
   padding-top: 15vh;
   color: #000000;
   font-size: 15vw;
   text-shadow: .5px .5px 3px black;
}

header{
   background: url("../img/hip-header.jpg");
   background-size: 100% 100%;
   overflow: hidden;
   background-size: cover;
   background-position: center;
   margin: 0;
   padding: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
   text-align: center;
   font-family: arial, "Lucida Grande", Tahoma, Sans-Serif;
   height: 100%;
}

ul{
   width: fit-content;
   margin: 1.5rem auto;
   padding: 0 auto;
   list-style: none;
   font-size: 2rem;
}
ul li{
   display: inline-block;
   text-align: center;
   margin: 0;
   padding: .5rem .2rem;
   padding-top: 3vw;


}
ul a{
   color: #000000;
   text-decoration: none;
   margin: .3rem;
   padding: .5rem .7rem;
   background-color: #e9c893;
   border-radius: 30px 3px;
   opacity: .7;
}
ul a:hover{
   opacity: 1;
   -webkit-transition: padding 200ms;
   -webkit-transition: opacity 200ms;

}

/* section{width: 100vw; height: 100vh; float: left;} */

#index{
   width: 100%; height: 130vh; float: left;
   background: url("../img/hip1.jpg");
   background-size: 100% 100%;
   overflow: hidden;
   background-size: cover;
   background-position: center;
   margin: 0;
   padding: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
   text-align: center;
   font-family: arial, "Lucida Grande", Tahoma, Sans-Serif;
}
#slide1{
   width: 100%; height: 130vh; float: left;
   background: url("../img/hip2.jpg");
   background-size: 100% 100%;
   overflow: hidden;
   background-size: cover;
   background-position: center;
   margin: 0;
   padding: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
   text-align: center;
   font-family: arial, "Lucida Grande", Tahoma, Sans-Serif;
}
#slide2{
   width: 100%; height: 130vh; float: left;
   background: url("../img/hip3.jpg");
   margin: 0;
   padding: 0;
   background-repeat: no-repeat;
   background-size: auto 100%;
   background-size: cover;
   overflow: hidden;
   background-position: center;
   background-attachment: fixed;
   text-align: center;
   font-family: arial, "Lucida Grande", Tahoma, Sans-Serif;
}
#slide3{
   width: 100%; height: 130vh; float: left;
   background: url("../img/hip4.jpg");
   background-size: 100% 100%;
   overflow: hidden;
   background-size: cover;
   background-position: center;
   margin: 0;
   padding: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
   text-align: center;
   font-family: arial, "Lucida Grande", Tahoma, Sans-Serif;
}
.returnButton{
   margin: 0;
   margin-left: 25px;
   bottom: 20px;
   position: sticky;
   padding: 5px;
   background-color: #e9c893;
   color: #000000;
   opacity: .5;
   text-decoration: none;
   border-radius: 20px 3px;
   font-size: 20px;
   font-weight: bold;
   font-family: arial, "Lucida Grande", Tahoma, Sans-Serif;
}
.between{
   max-width: 1200px; float: left;
   font-family: arial, "Lucida Grande", Tahoma, Sans-Serif;
   background-color: #e9c893;
   margin: 20px;
   padding: 0 .3rem;
   /* background-color: #DFDCE3; */
   opacity: .85;
   position: absolute;
   border-radius: 20px;


}
.between p{
   color: black;
   margin: 0;
   padding: 1.5rem .5rem;
   font-size: 5vw;
   /* text-shadow: 2px 2px 5px black; */
}
@media (min-width: 1000px ){
   h1{ font-size: 150px; }
   .between p { font-size: 35px; }
}
@media all and (min-width: 737px) {
   .dropdown, .dropbtn, #myDropdown, .dropdown-content {
      display: none;
   }
}


@media all and (max-width: 736px) {
   .normal-menu{
      display: none;
   }
   .returnButton{
      display: none;
   }
   /* Dropdown Button */
.dropbtn {
   background-color: #e9c893;
   color: #000000;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
   border-radius: 15px;
   opacity: .7;
   float: right;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #d1b588;
  color: #000000;
  opacity: 1;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: fixed;
  right: 0;
  display: inline-block;
  margin: 40px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e9c893;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 15px;
}

/* Links inside the dropdown */
.dropdown-content li {
  list-style: none;
}
.dropdown-content a {
  color: black;
  padding: 10px 5px;
  text-decoration: underline;
  display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
}
   header{
      background: url("../img/hip-header.jpg");
      background-size: 100% 100%;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      margin: 0;
      padding: 0;
      background-repeat: no-repeat;
      background-attachment: fixed;
      text-align: center;
      font-family: arial, "Lucida Grande", Tahoma, Sans-Serif;
      height: 100%;
   }
}
